<!--<div class="page-header">-->
<!--  <h1>Destroyed <%= @director.name %></h1>-->
<!--</div>-->

<!--<p><a href="/directors" class="btn btn-primary">Go Back</a></p>-->


<meta http-equiv="refresh" content="0; URL='/directors'" />
